<!DOCTYPE html>
<html>

<head>
    <title>Coding Flashcards</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Annie+Use+Your+Telescope|Bangers" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <br>
    <h1>{flashCODE}</h1>
    <h2>Hone your development skills ... in a FLASH.</h2>
    <br> {{#if logged_in}} {{{ body }}}
    <center>
        <p>
            <form class="create-update-form" action="/questions/submit" method="POST">
                <input type="text" name="user_input" placeholder="Your answer goes here">
                <input class="submit-answer" type="submit" value="Submit">
            </form>
        </p>

        <p>
            <a class="btn btn-md" href="/questions" id="next_question" role="button">Next question</a>
        </p>

        <p>
            <a class="btn btn-md" href="/questions" id="done" role="button">Done</a>
        </p>
        <br>
        <br>
        <p>
            <a href="/users/sign-out" id="sign-out">Sign Out:( {{this.username}} )</a>
        </p>
    </center>


    {{else}}

    <div id="wrapper">
        <center>
            <div id="main-content" class="container">

                <a class="btn btn-warning btn-lg" href='/users/sign-in' role='button'>Sign In</a>
                <a class="btn btn-warning btn-lg" id="" href="/users/create" role="button">Register</a>

            </div>
        </center>
    </div>
    {{{body}}} {{/if}}



    <footer class="footer">
    </footer>
</body>

{{!-- <script>
    $(document).ready(function () {
        $('.submit-answer').click(function () {
            $("#answer").show();
        });

        $("#next_question").click(function () {
            $("#answer").hide();

        });
    });


</script> --}}

<style>
    body {
        background: #000000;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #53346D, #000000);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #53346D, #000000);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    /* flashcode text text */

    h1 {
        font-family: 'Righteous', cursive;
        text-align: center;
        font-size: 100px;
        color: antiquewhite;
    }

    /* under flashcode text */

    h2 {
        font-family: 'Annie Use Your Telescope', cursive;
        text-align: center;
        font-size: 40px;
        color: antiquewhite;
        font: bold;
    }

    h3 {
        font-family: 'Annie Use Your Telescope', cursive;
        text-align: center;
        font-size: 27px;
        color: antiquewhite;
        font: bold;
    }

    /* button text */

    p {
        text-align: center;
        font-family: 'Bangers', cursive;
    }

    /* pertains to jumbotron */

    body {
        height: 100%;
    }

    .container {
        width: 400px;
    }

    /* pertains to buttons */

    .btn {
        background-color: #000000;
    }

    #signin,
    #register {
        text-align: center;
    }

    #answer {
        display: none;
    }
</style>