<!DOCTYPE html>
<html>

<head>
    <title>Coding Flashcards</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href="/assets/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Righteous|Annie+Use+Your+Telescope|Bangers|Hind" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<script type="text/javascript">
    function preventBack() { window.history.forward(1); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>

<body>
    <br>
    <h1>{flashCODE}</h1>
    <h2>Hone your development skills ... in a FLASH.</h2>
    <br> {{#if logged_in}} {{{ body }}}
    <br>
    <center>
        <p>
            <form class="create-update-form" action="/questions/submit" method="POST">
                <input class="input-lg col-xs-offset-3 col-xs-6" type="text" name="user_input" placeholder="Your answer goes here">
                <input class="btn btn-lg btn-primary" type="submit" value="Submit">
            </form>
        </p>
        <br>
        <p>
            <a class="btn btn-md btn-warning" href="/questions" id="next_question" role="button">Next Question</a>
        </p>
        <p>
            <a class="btn btn-md btn-warning" href="/questions/result" id="done" role="button" target="_blank">I'm Finished</a>
        </p>
        <p>
            <a class="btn btn-md btn-warning" href="/users/sign-out" id="sign-out" role="button">Sign Out: {{this.username}} </a>
        </p>
    </center>
    {{else}}
    <div id="wrapper">
        <center>
            <div id="main-content" class="container">
                <a class="btn btn-warning btn-lg" href='/users/sign-in' role='button'>Sign In</a>
                <a class="btn btn-warning btn-lg" href="/users/create" role="button">Register</a>
            </div>
        </center>
    </div>
    </center>
    </div>
    {{{body}}} {{/if}}
    <footer class="footer">
    </footer>
</body>