body {
  background: linear-gradient(0.25turn, #53346D, #000000);
}

/* flashcode text text */

h1 {
  font-family: 'Righteous', cursive;
  text-align: center;
  font-size: 100px;
  color: antiquewhite;
}

/* under flashcode text */

h2 {
  font-family: 'Annie Use Your Telescope', cursive;
  text-align: center;
  font-size: 40px;
  color: antiquewhite;
  font: bold;
}

h3 {
  font-family: 'Annie Use Your Telescope', cursive;
  text-align: center;
  font-size: 27px;
  color: yellow;
  font: bold;
}

h4,
p {
  font-family: 'Hind', sans-serif;
  text-align: center;
  font-size: 40px;
  color: yellow;
  font: bold;
}

/* button text */

/* pertains to jumbotron */

body {

  height: 100%;
}

.container {
  width: 400px;
}

/* pertains to buttons */

.btn {
  background-color: #000000;
  border-color: antiquewhite;
}

#answer {
  display: none;
}

  
