<center>
  <h2>Registration</h2>
  <form class="create-update-form" action="/users/create" method="POST">

    <div class="form-group">
      <h3>
        <label for="username">Username:</label>
      </h3>
      <span>
        <input type="text" id="username" name="username">
      </span>
    </div>

    <div class="form-group">
      <h3>
        <label for="email">Email:</label>
      </h3>
      <span>
        <input type="text" id="email" name="email">
      </span>
    </div>

    <div class="form-group">
      <h3>
        <label for="pass">Password:</label>
      </h3>
      <span>
        <input type="password" id="pass" name="password">
      </span>
    </div>

    <a id="register" class="btn btn-warning btn-lg" type="submit">Sign Up!</a>
  </form>
</center>
<br>
<br>