<!-- this is the sign_in.handlebars file inside the users folder of the views folder
views/users/sign_in.handlebars -->
<center>
  <h2>Sign in</h2>
  <form class="create-update-form" action="/users/login" method="POST">
    <div class="form-group">
      <h3>
        <span><i class="glyphicon glyphicon-envelope"></i></span> <label for="email">Email:</label>
      </h3>
        <span><input type="text" id="email" name="email"></span>
    </div>

    <div class="form-group">
      <h3>
        <span><i class="glyphicon glyphicon-lock"></i></span> <label for="pass">Password:</label>
      </h3>
        <span><input type="password" id="pass" name="password"></span>

    </div>

    <input id="signin" class="btn btn-warning btn-lg" role='button' type="submit" value="Sign in">
  <!--
    <a id="signin" class="btn btn-warning btn-lg" role='button' type="submit">Sign in</a>-->
    {{!-- <a class="btn btn-warning btn-lg" ="/users/index" role="button">Sign In</a> --}}
  </form>

</center>
<br>
<br>